div(class="bubbles")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
    div(class="bubble")
