doctype html
html
    head
        title Live Dashboard
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Play:400,700&display=swap")
        link(rel="stylesheet", href="/css/normalized.css")
        link(rel="stylesheet", href="/css/style.css")
        script(src="/js/charts/octane.js")
        script(src="/js/charts/alm.js")
        script(src="/js/charts/uft.js")
        script(src="/js/charts/lr.js")
        script(src="/js/main.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js")
    body
        div(class="background")
            video(autoplay, muted, loop, id="background-video", class="background-vid")
                source(type="video/mp4", src="/media/background.mp4")
            div(class="background-filter-header")
            div(class="background-filter-main")
        header
            div(class="header-title") The Aquarium
        main
            div(id="cards-container", class="cards-container")
                include cards
            div(id="charts-container", class="charts-container hidden")
                include bubbles
                include shared
                include octane
                include uft
                include alm
                include lr
                include exit-button
