a(href="https://github.houston.softwaregrp.net/spencer-bruce/kpi-dashboard" target="about:blank" class="main-link") Source Code
a(href="https://teams.microsoft.com/l/channel/19%3a61e1fa3b5ab74f399683f25468199f26%40thread.skype/General?groupId=f19b5c3c-eb43-414c-ab0f-5419618d09a0&tenantId=856b813c-16e5-49a5-85ec-6f081e13b527" target="about:blank" class="main-link") Teams Channel
