*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: Play, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: #222;
  color: #fff;
}

strong {
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  outline: none;
}

@keyframes reveal-anim {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes fade-in-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.background-vid {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.background-filter-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #333;
  opacity: 0.5;
}

.background-filter-main {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #999;
  opacity: 0.5;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 20px;
}

.title {
  font-size: 40px;
  user-select: none;
}

main {
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.cards-container {
  height: 640px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.cell {
  position: relative;
  min-width: 300px;
  max-width: 300px;
  min-height: 280px;
  max-height: 280px;
  user-select: none;
  cursor: pointer;
}

@keyframes cell-back-breath-anim {
  0% {
    transform: scale(1.0);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: 0.75;
  }
  33% {
    transform: scale(1.1);
    border-radius: 70% 30% 30% 70% / 30% 30% 70% 70%;
    opacity: 0.6;
  }
  100% {
    transform: scale(1.0);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    opacity: 0.75;
  }
}

@keyframes cell-data-breath-anim {
  0% {
    transform: scale(1.0) translateX(0);
  }
  33% {
    transform: scale(1.1) translateX(10px);
  }
  100% {
    transform: scale(1.0) translateX(0);
  }
}

.cell:nth-child(1) > .cell-background,
.cell:nth-child(1) > .cell-data {
  animation-delay: 0.0s;
}
.cell:nth-child(2) > .cell-background,
.cell:nth-child(2) > .cell-data {
  animation-delay: 0.25s;
}
.cell:nth-child(3) > .cell-background,
.cell:nth-child(3) > .cell-data {
  animation-delay: 0.5s;
}
.cell:nth-child(4) > .cell-background,
.cell:nth-child(4) > .cell-data {
  animation-delay: 0.75s;
}
.cell:nth-child(5) > .cell-background,
.cell:nth-child(5) > .cell-data {
  animation-delay: 1.0s;
}
.cell:nth-child(6) > .cell-background,
.cell:nth-child(6) > .cell-data {
  animation-delay: 1.25s;
}
.cell:nth-child(7) > .cell-background,
.cell:nth-child(7) > .cell-data {
  animation-delay: 1.5s;
}
.cell:nth-child(8) > .cell-background,
.cell:nth-child(8) > .cell-data {
  animation-delay: 1.75s;
}
.cell:nth-child(9) > .cell-background,
.cell:nth-child(9) > .cell-data {
  animation-delay: 2.0s;
}
.cell:nth-child(10) > .cell-background,
.cell:nth-child(10) > .cell-data {
  animation-delay: 2.25s;
}
.cell:nth-child(11) > .cell-background,
.cell:nth-child(11) > .cell-data {
  animation-delay: 2.5s;
}
.cell:nth-child(12) > .cell-background,
.cell:nth-child(13) > .cell-data {
  animation-delay: 2.75s;
}

.cell-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 250px;
  min-height: 250px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background-image: linear-gradient(135deg, #666, #222);
  opacity: 0.75;
  animation: cell-back-breath-anim 5.0s ease infinite;
  border-left: 10px solid #fff;
}
.cell-selected > .cell-background {
  border-left: 10px solid #fff;
}

.cell-data {
  position: absolute;
  left: 35px;
  top: 50px;
  max-width: 200px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 40px 22px 22px 22px 22px;
  line-height: 20px;
  animation-name: cell-data-breath-anim;
  animation-duration: 5.0s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.card-title {
  grid-column: 1 / 3;
  max-width: 200px;
  font-size: 18px;
  line-height: 0.8;
}

.label {
  font-size: 14px;
  font-style: italic;
  color: #ccc;
  margin-right: 5px;
}

.data {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-tag::after {
  font-size: 14px;
  padding: 0 3px;
  color: #fff;
}
.color-tag--green::after {
  content: "GOOD";
  background-color: #228822;
}
.color-tag--yellow::after {
  content: "OK";
  background-color: #888822;
}
.color-tag--red::after {
  content: "BAD";
  background-color: #882222;
}
.color-tag--na::after {
  content: "N/A";
  background-color: #333333;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.exit-button {
  position: absolute;
  top: 50px;
  left: 70px;
  font-weight: bold;
  font-size: 32px;
  color: #ff454f;
  cursor: pointer;
}

.product-section {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  background-color: #111;
  opacity: 0.9;
  padding: 50px 100px;
}

.product-section--selected {
  display: block;
}

.product-data {
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  animation: reveal-anim 3s ease;
}

.product-name {
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
}

.release-name {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}

.release-date {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}

.product-charts {
  display: flex;
  animation: fade-in-anim 2.0s ease;
}

@keyframes chart-breath-anim {
  0% {
    transform: scale(1.0);
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
    opacity: 0.9;
  }
  33% {
    transform: scale(1.05);
    border-radius: 60% 40% 40% 60% / 40% 40% 60% 60%;
    opacity: 0.75;
  }
  100% {
    transform: scale(1.0);
    border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
    opacity: 0.9;
  }
}

.product-chart {
  position: relative;
  margin-right: 100px;
  border-left: 10px solid #ccc;
  background-image: linear-gradient(to right, #333, #222);
  padding: 50px;
  transform: scale(1.0);
  border-radius: 40% 60% 60% 40% / 40% 40% 60% 60%;
  opacity: 0.9;
  animation: chart-breath-anim 5s ease infinite;
}

.product-chart:nth-child(1) {
  animation-delay: 0.0s;
}
.product-chart:nth-child(2) {
  animation-delay: 0.25s;
}

.chart-title {
  text-align: center;
  font-size: 22px;
}

.status-line {
  text-align: center;
  position: relative;
  top: 15px;
  margin-top: -10px;
}

.status-link {
  border-radius: 10px;
  padding: 0 3px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid #999;
}

.product-chart.chart-good,
.product-chart.chart-good .status-link {
  border-color: #75da4d;
}
.product-chart.chart-good .status-link {
  color: #75da4d;
}
.product-chart.chart-good .status-link::after {
  content: "GOOD";
}

.product-chart.chart-ok,
.product-chart.chart-ok .status-link {
  border-color: #fde159;
}
.product-chart.chart-ok .status-link {
  color: #fde159;
}
.product-chart.chart-ok .status-link::after {
  content: "OK";
}

.product-chart.chart-bad,
.product-chart.chart-bad .status-link {
  border-color: #ff454f;
}
.product-chart.chart-bad .status-link {
  color: #ff454f;
}
.product-chart.chart-bad .status-link::after {
  content: "BAD";
}

/*--------------------------------------------------------------------------------------------------------------------*/

.hidden {
  display: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/
